<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MusteriCariPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  
  <connectionStrings>
    <add name="baglanti" connectionString="Data Source=10.0.0.251,1489; Initial Catalog=BEKEN2010;User Id=sa;Password=SqlBeken2011" providerName="=System.Data.SqlClient" />
    <add name="baglantiBizim" connectionString="Data Source=10.0.0.251,1489; Initial Catalog=AKTARIM;User Id=sa;Password=SqlBeken2011" providerName="=System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>
    <sessionState timeout="20" />
  </system.web>
  <applicationSettings>
    <MusteriCariPortal.Properties.Settings>
      <setting name="MusteriCariPortal_com_turkiyeshell_tts_TTSWebServices" serializeAs="String">
        <value>https://tts.turkiyeshell.com/TTS/TTSWebServices.asmx</value>
      </setting>
    </MusteriCariPortal.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itext.licensekey" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.6.0" newVersion="3.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>